################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test.Orleans/Test.Orleans/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans/obj
/Test.Orleans/.vs/Test.Orleans/v15
/.vs
/Test.Orleans/Test.Orleans.Actors/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Actors/obj/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Actors/obj
/Test.Orleans/Test.Orleans.Client/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Client/obj
/Test.Orleans/Test.Orleans.Interfaces/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Interfaces/obj
/Test.Orleans/.vs/Test.Orleans
/Test.Orleans/Test.Orleans.Actors.Interfaces/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Actors.Interfaces/obj/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Actors.Interfaces/obj/Release/netcoreapp2.1
/Test.Orleans/Test.Orleans.Actors.Interfaces/obj
/Test.Orleans/Test.Orleans.Services/bin/Debug/netcoreapp2.1
/Test.Orleans/Test.Orleans.Services/obj
/Test.Orleans/Study.Orleans/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans/obj
/Test.Orleans/Study.Orleans.Actors/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans.Actors/obj
/Test.Orleans/Study.Orleans.Actors.Interfaces/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans.Actors.Interfaces/obj
/Test.Orleans/Study.Orleans.Client/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans.Client/obj
/Test.Orleans/Study.Orleans.Interfaces/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans.Interfaces/obj
/Test.Orleans/Study.Orleans.Services/bin/Debug/netcoreapp2.1
/Test.Orleans/Study.Orleans.Services/obj
/Test.Orleans/Study.Orleans/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Actors/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Actors.Interfaces/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Client/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Data/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Data/obj
/Test.Orleans/Study.Orleans.Interfaces/bin/Debug/netcoreapp3.1
/Test.Orleans/Study.Orleans.Services/bin/Debug/netcoreapp3.1
